
.text-tutorials
   // +above('s')
   //    margin-bottom 20rem
   display none
   &.tablist-panel-active
      display block
.text-tutorial
   background-color #fff
   box-shadow: 0px 0px 43px 0px rgba(13, 126, 167, 0.1);
   border-radius 1.5rem
   position relative
   +below('xs')
      min-height 45.5rem
      .tv-text-tutorials &
         min-height 35.5rem
   +above('s')
      height 62rem
      .tv-text-tutorials &
         height 36rem
   +above('xl')
      .tv-text-tutorials &
         height 44rem
   text-align right
   display flex
   flex-direction column
   justify-content flex-end
   padding 3rem
   margin-bottom 2rem
   +above('s')
      margin-bottom 3rem
      padding 5rem
   font-size 2.4rem
   align-items flex-start
   box-shadow: 0px 0px 43px 0px rgba(13, 126, 167, 0.1);
   &__text
      min-width 20rem
      font-weight 600
      color #4d5f67
      //width 100%
      +below('xs')
         width 100%
         min-width 0
         //max-width 80%
         margin-right 0
         margin-left auto
         br
            display none
   .text-tutorials__item:nth-child(even) &
      align-items flex-end
      padding-left 5rem
      text-align right
      
   // +above('hd')
   //    margin-bottom 7rem
   //    min-height 55.5rem
   //    font-size 3.6rem
   &__photo
      .tv-text-tutorials &
         margin-bottom 1rem
      +above('s')
         position absolute
         .tv-text-tutorials &
            margin-bottom 0
      top 3rem
      left 15rem
      z-index 2
      .text-tutorials__item:nth-child(1) &
         width (57rem / 1.4)
         margin-right -14rem
         .tv-text-tutorials &
            margin-right -2rem
            width (47rem / 1.4)
         +above('s')
            width (57rem / 1.3)
            margin 0
            left 8rem
            .tv-text-tutorials &
               width (66rem / 1.3)
               left 2rem
               margin 0
         
         +above('xl')
            left 20rem
            .tv-text-tutorials &
               width (81rem / 1.3)
               left 2rem
      .text-tutorials__item:nth-child(2) &
         width (58rem / 1.4)
         margin-left -14.5rem
         .tv-text-tutorials &
            margin-left -3rem
            width (44rem / 1.4)
         +above('s')
            width (58rem / 1.3)
            left 31rem
            margin 0
            .tv-text-tutorials &
               width (60rem / 1.3)
               left 38rem
               margin 0
         +above('m')
            .tv-text-tutorials &
               width (66rem / 1.3)
               left 29rem
         +above('xl')
            .tv-text-tutorials &
               width (77rem / 1.3)
               left 33rem
      .text-tutorials__item:nth-child(3) &
         width (66rem / 1.4)
         margin-right -21rem
         .tv-text-tutorials &
            margin-right -1rem
            width (44rem / 1.4)
         +above('s')
            width (66rem / 1.3)
            margin 0
            left 8rem
            .tv-text-tutorials &
               width (62rem / 1.3)
               left 3rem
               margin 0
         +above('xl')
            left 20rem
            .tv-text-tutorials &
               width (77rem / 1.3)
               left 4rem
      .text-tutorials__item:nth-child(4) &
         width (76rem / 1.4)
         margin-left -27rem
         .tv-text-tutorials &
            margin-left -17rem
            width (64rem / 1.4)
         +above('s')
            width (76rem / 1.3)
            left  17rem
            margin 0
            .tv-text-tutorials &
               width (87rem / 1.3)
               left 16rem
               margin 0
         +above('m')
            .tv-text-tutorials &
               left 8rem
         +above('xl')
            .tv-text-tutorials &
               width (110rem / 1.3)
               left 8rem
      .text-tutorials__item:nth-child(5) &
         width (64rem / 1.4)
         margin-right -20rem
         .tv-text-tutorials &
            margin-right -1rem
            width (44rem / 1.4)
         +above('s')
            width (64rem / 1.3)
            margin 0
            left 8rem
            .tv-text-tutorials &
               width (60rem / 1.3)
               left 3rem
               margin 0
            .android-tv-text-tutorials &
               width (60rem / 1.2)
         +above('xl')
            left 21rem
            .tv-text-tutorials &
               width (77rem / 1.3)
               left 4rem
      .text-tutorials__item:nth-child(6) &
         width (67rem / 1.4)
         margin-left -20rem
         .tv-text-tutorials &
            margin-left -17rem
            width (64rem / 1.4)
         +above('s')
            width (67rem / 1.3)
            left 24rem
            margin 0
            .tv-text-tutorials &
               width (88rem / 1.3)
               left 16rem
               margin 0
         +above('m')
            .tv-text-tutorials &
               left 8rem
         +above('xl')
            .tv-text-tutorials &
               width (110rem / 1.3)
               left 8rem
      .text-tutorials__item:nth-child(7) &
         width (67rem / 1.4)
         margin-left -20rem
         .tv-text-tutorials &
            margin-right -9rem
            width (55rem / 1.4)
         +above('s')
            width (67rem / 1.3)
            left 24rem
            margin 0
            .tv-text-tutorials &
               width (80rem / 1.3)
               left 3rem
               margin 0
            
         +above('xl')
            .tv-text-tutorials &
               width (97rem / 1.3)
               left 4rem
      .text-tutorials__item:nth-child(8) &
         width (67rem / 1.4)
         margin-left -20rem
         .tv-text-tutorials &
            margin-left -14rem
            width (59rem / 1.4)
         +above('s')
            width (67rem / 1.3)
            left 24rem
            margin 0
            .tv-text-tutorials &
               width (81rem / 1.3)
               left 21rem
               margin 0
         +above('m')
            .tv-text-tutorials &
               left 13rem
         +above('xl')
            .tv-text-tutorials &
               width (104rem / 1.3)
               left 13rem
            
   &__number
      border-radius 50%
      color $white
      background-image: linear-gradient( 90deg, rgb(12,138,196) 0%, rgb(0,195,228) 100%);
      box-shadow: -4.659px 17.387px 16px 0px rgba(6, 165, 211, 0.21);
      font-size 2.2rem
      text-align center
      height 3.5rem
      width 3.5rem
      line-height 3.5rem
      display inline-block
      margin-bottom 1.5rem
      &--purple
         background-image: linear-gradient( 90deg, rgb(103,45,145) 0%, rgb(158,115,191) 100%);
         box-shadow: -4.659px 17.387px 16px 0px rgba(103, 45, 145, 0.21);










.text-tutorial
   +below('xs')
      .android-tv-text-tutorials &
         min-height 35.5rem
   +above('s')
      .android-tv-text-tutorials &
         height 36rem
   +above('xl')
      .android-tv-text-tutorials &
         height 44rem
   &__photo
      .android-tv-text-tutorials &
         margin-bottom 1rem
      +above('s')
         .android-tv-text-tutorials &
            margin-bottom 0
            top 4rem
      .text-tutorials__item:nth-child(1) &
         .android-tv-text-tutorials &
            margin-right -2.5rem
            width 34rem
         +above('s')
            .android-tv-text-tutorials &
               width (66rem / 1.3)
               left 2rem
               margin 0
         +above('xl')
            .android-tv-text-tutorials &
               width 63rem
               left 2rem
      .text-tutorials__item:nth-child(2) &
         .android-tv-text-tutorials &
            margin-left -3.5rem
            width 34rem
         +above('s')
            .android-tv-text-tutorials &
               width 50rem
               left 36rem
               margin 0
         +above('m')
            .android-tv-text-tutorials &
               left 29rem
               width 48rem
         +above('xl')
            .android-tv-text-tutorials &
               width 64rem
               left 35rem
      .text-tutorials__item:nth-child(3) &
         .android-tv-text-tutorials &
            margin-right -2rem
            width 33rem
            margin-top -2rem
         +above('s')
            .android-tv-text-tutorials &
               width (62rem / 1.2)
               margin 0
               left 2rem
               top 1rem
         +above('xl')
            .android-tv-text-tutorials &
               top 1rem
               width 63rem
               left 2rem
      .text-tutorials__item:nth-child(4) &
         .android-tv-text-tutorials &
            width 39rem
            margin-left -8.5rem
            margin-top -2rem
         +above('s')
            .android-tv-text-tutorials &
               width (87rem / 1.3)
               left 16rem
               margin 0
               top 0
               width 57rem
               right 1rem
         +above('m')
            .android-tv-text-tutorials &
               left 8rem
               top 0
               width 55rem
         +above('xl')
            .android-tv-text-tutorials &
               top 0
               right 1rem
               width 70rem
      .text-tutorials__item:nth-child(5) &
         .android-tv-text-tutorials &
            margin-right -3rem
            width 34rem
            margin-top -2rem
         +above('s')
            .android-tv-text-tutorials &
               width (60rem / 1.3)
               left 3rem
               margin 0
               top 1rem
               width (60rem / 1.2)
         +above('xl')
            .android-tv-text-tutorials &
               top .5rem
               width (77rem / 1.2)
               left 2rem
      .text-tutorials__item:nth-child(6) &
         .android-tv-text-tutorials &
            width 47rem
            margin-left -17rem
         +above('s')
            .android-tv-text-tutorials &
               width (88rem / 1.3)
               margin 0
               right 1rem
         +above('m')
            .android-tv-text-tutorials &
               left 8rem
               width 70rem
         +above('xl')
            .android-tv-text-tutorials &
               top 4rem
               width 90rem
               right 0rem
      .text-tutorials__item:nth-child(7) &
         .android-tv-text-tutorials &
            width (55rem / 1.65)
            margin-right -2.5rem
         +above('s')
            .android-tv-text-tutorials &
               margin 0
               width 50rem
               left 2rem
         +above('xl')
            .android-tv-text-tutorials &
               width (97rem / 1.3)
               left 4rem
               width (97rem / 1.55)
               left 2rem
      .text-tutorials__item:nth-child(8) &
         .android-tv-text-tutorials &
            width 47rem
            margin-left -17rem
         +above('s')
            .android-tv-text-tutorials &
               width (81rem / 1.3)
               left 21rem
               margin 0
               width 70rem
               right 1rem
         +above('m')
            .android-tv-text-tutorials &
               left 13rem
               width 66rem
         +above('xl')
            .android-tv-text-tutorials &
               width 90rem
               right 0rem
      .text-tutorials__item:nth-child(9) &
         .android-tv-text-tutorials &
            width 33rem
            margin-right -2rem
         +above('s')
            .android-tv-text-tutorials &
               width (80rem / 1.3)
               left 3rem
               margin 0
               width (80rem / 1.7)
               left 2rem
         +above('xl')
            .android-tv-text-tutorials &
               width (97rem / 1.3)
               left 4rem
               width (97rem / 1.55)
               left 2rem
















///////////////////////////////////////////////////////////////////////////////////////////////

.samsung-tv-tutorials
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 44rem
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         +above('s')
            margin-bottom 0
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.3)
         left 2rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial
         +above('xl')
            height 41rem
      .text-tutorial__photo
         margin-left -4rem
         width (44rem / 1.31)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.3)
            left 29rem
         +above('xl')
            width (77rem / 1.3)
            left 33rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.4)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.3)
         left 2rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -3rem
         width (44rem / 1.4)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.3)
            left 29rem
         +above('xl')
            width (77rem / 1.3)
            left 33rem
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.4)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.3)
         left 2rem
   .text-tutorials__item:nth-child(6) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -3rem
         width (44rem / 1.4)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.3)
            left 29rem
         +above('xl')
            width (77rem / 1.3)
            left 33rem
   .text-tutorials__item:nth-child(7) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.3)
         left 2rem
         
   .text-tutorials__item:nth-child(8) 
   
      .text-tutorial__photo
         margin-left -3rem
         width (44rem / 1.4)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            left 29rem
         +above('xl')
            width (77rem / 1.2)
            left 28rem
   
   .text-tutorials__item:nth-child(9) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.3)
         left 2rem

   .text-tutorials__item:nth-child(10) 
      .text-tutorial__photo
         margin-left -3rem
         width (44rem / 1.4)
         top 1rem
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            left 29rem
         +above('xl')
            width (77rem / 1.2)
            left 28rem
   .text-tutorials__item:nth-child(11) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.3)
         left 2rem
   .text-tutorials__item:nth-child(12) 
      .text-tutorial
         align-items flex-start
         //padding-left 5rem
         //text-align right
         +above('xl')
            height 42rem
      .text-tutorial__photo
         margin-right -2rem
         width (47rem / 1.4)
         +above('s')
            width (66rem / 1.3)
            left 2rem
            margin 0
         +above('xl')
            width (81rem / 1.3)
            left 2rem
   .text-tutorials__item:nth-child(13) 
      .text-tutorial
         +above('s')
            height 60rem
         +above('m')
            height 60rem
         +above('xl')
            height 65rem
         &__text
            +above('s')
               display flex
               justify-content space-between
               width 100%
               transform translateY(6rem)
            +above('xl')
               transform translateY(10rem)
            [dir="rtl"] &
               flex-direction row-reverse
            &-column
               margin-bottom 2rem
               +above('s')
                  margin-bottom 0
               &:nth-child(1)
                  +above('s')
                     padding-right 2rem
                     transform translateY(-9rem)
                  +above('xl')
                     padding-right 6rem
      .text-tutorial__photo
         margin-left -3rem
         width (44rem / 1.4)
         top 3rem
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            left 29rem
         +above('xl')
            width (77rem / 1.2)
            left 28rem
            


///////////////////////////////////////////////////////////////////////////////////////////////

// .iphone-text-tutorials
//    .text-tutorial
//       +below('xs')
//          min-height 35.5rem
//       +above('s')
//          height 36rem
//          height 44rem
//       &__text
//          +below('xs')
//             max-width none
//       &__photo
//          margin-bottom 0rem
//          +above('s')
//             margin-bottom 0
//    .text-tutorials__item:nth-child(1) .text-tutorial__photo
//       margin-right -2rem
//       width (46.4rem / 1.3)
//       +above('s')
//          margin 0
//          width (46.4rem / 1.3)
//          left 12rem
//    .text-tutorials__item:nth-child(2) 
//       .text-tutorial
//          +above('s')
//             height 44rem
//       .text-tutorial__photo
//          margin-left 3.5rem
//          width (33.9rem / 1.3)
//          +above('s')
//             margin 0
//             width (33.9rem / 1.3)
//             left 39rem
//    .text-tutorials__item:nth-child(3) .text-tutorial__photo
//       margin-right -2rem
//       width (47.7rem / 1.3)
//       +above('s')
//          margin 0
//          width (47.7rem / 1.3)
//          left 9rem
//    .text-tutorials__item:nth-child(4) 
//       .text-tutorial
//          +above('s')
//             height 44rem
//             &__text
//                min-width 25rem
//       .text-tutorial__photo
//          margin-left 3rem
//          width (34.5rem / 1.3)
//          +above('s')
//             margin 0
//             width (34.5rem / 1.3)
//             left 37rem
//    .text-tutorials__item:nth-child(5) .text-tutorial__photo
//       margin-right -2rem
//       width (46.4rem / 1.3)
//       +above('s')
//          width (46.4rem / 1.3)
//          left 1rem
//          margin 0
//       +above('l')
//          left 9rem
//    .text-tutorials__item:nth-child(6) 
//       .text-tutorial
//          +above('s')
//             height 44rem
//             &__text
//                min-width 25rem
//       .text-tutorial__photo
//          margin-left 2.5rem
//          width (35.3rem / 1.3)
//          +above('s')
//             margin 0
//             width (35.3rem / 1.3)
//             left 36rem
//    .text-tutorials__item:nth-child(7) .text-tutorial__photo
//       margin-right -2rem
//       width (47rem / 1.4)
//       +above('s')
//          width (66rem / 1.3)
//          left 2rem
//          margin 0
//          width (43rem / 1.3)
//          left 11rem
         
//    .text-tutorials__item:nth-child(8) 
//       .text-tutorial
//          +above('s')
//             height 48rem
//       .text-tutorial__photo
//          margin-left -2rem
//          width (41.3rem / 1.3)
//          +above('s')
//             margin 0
//             width (41.3rem / 1.2)
//             left 31rem
   
//    .text-tutorials__item:nth-child(9) .text-tutorial__photo
//       margin-right -2rem
//       width (41.7rem / 1.3)
//       +above('s')
//          margin 0
//          width (41.7rem / 1.3)
//          left 14rem

//    .text-tutorials__item:nth-child(10) .text-tutorial
//       justify-content center
//    .text-tutorials__item:nth-child(10) .text-tutorial__desc
//       font-size 4rem
//    .text-tutorials__item:nth-child(10) .text-tutorial__photo
//       margin-left 7rem
//       width (29.5rem / 1.4)
//       margin-bottom 2rem
//       +above('s')
//          margin-bottom 0
//          margin 0
//          width (29.5rem / 1.55)
//          left 42rem
         

////////////////////////////////////////////////

.apple-tutorials
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 44rem
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         +above('s')
            margin-bottom 0
            top 4rem
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -7rem
      width 38rem
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width 70rem
         left 3rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial
         +above('xl')
            height 45rem
      .text-tutorial__photo
         margin-left -4rem
         width (44rem / 1.31)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.5)
            left 30.5rem
         +above('xl')
            width 60rem
            left 35rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (69rem / 1.6)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.4)
         left 4rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial
         +above('xl')
            height 46rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -17rem
         width (46.5rem / 1)
         +above('s')
            margin-left -3rem
            width (81rem / 1.3)
            left 23rem
         +above('m')
            left 15rem
         +above('xl')
            width: 83rem;
            left: 16rem;
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -7rem
      width 38rem
      +above('s')
         width (72rem / 1.4)
         left 2rem
         margin 0
      +above('xl')
         width: 68rem;
         left 4rem
   .text-tutorials__item:nth-child(6) 
      .text-tutorial
         +above('s')
            height 40rem
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         width (44rem / 1.28)
         margin-left -5rem
         +above('s')
            margin-left -3rem
            width (68rem / 1.3)
            left 31rem
            margin 0
         +above('m')
            width (68rem / 1.4)
            left 27rem
            top 6rem
         +above('xl')
            top 3rem
            width 57rem
            left 38rem
   .text-tutorials__item:nth-child(7) .text-tutorial__photo
      width 33rem
      margin-right -1.5rem
      +above('s')
         margin-right -2rem
         width (57rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width 54rem
         left 4rem
         
   .text-tutorials__item:nth-child(8) 
      .text-tutorial__photo
         width 33rem
         margin-left -4rem
         +above('s')
            margin-left -3rem
            width 40rem
            left 40rem
            margin 0
         +above('m')
            left 33rem
         +above('xl')
            width 52rem
            left 42rem
   
   .text-tutorials__item:nth-child(9) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width 41rem
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.4)
         left 4rem

   .text-tutorials__item:nth-child(10) 
      .text-tutorial__photo
         width 36rem
         top 3.5rem
         margin-left -7rem
         +above('s')
            margin-left -3rem
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (72rem / 1.45)
            left 25rem
         +above('xl')
            width: 65rem;
            left: 30rem;
   .text-tutorials__item:nth-child(11) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width 45rem
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.4)
         left 4rem
   .text-tutorials__item:nth-child(12) 
      .text-tutorial__photo
         width 43rem
         top 3.5rem
         margin-left -14rem
         +above('s')
            margin-left -3rem
            width 60rem
            left 24rem
            margin 0
         +above('m')
            width 57rem
            left 18rem
         +above('xl')
            width: 78rem;
            left: 18rem;
   .text-tutorials__item:nth-child(13) .text-tutorial__photo
      margin-right -10rem
      width 41rem
      +above('s')
         width 60rem
         left 2rem
         margin 0
      +above('xl')
         width 75rem
         left 4rem
   


///////////////////////////////////////////////////////////////////////


.amazon-text-tutorials
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 44rem
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         +above('s')
            margin-bottom 0
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -2rem
      width (47rem / 1.4)
      +above('s')
         width (66rem / 1.45)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.4)
         left 2rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial
         +above('xl')
            height 41rem
      .text-tutorial__photo
         margin-left -4rem
         width (44rem / 1.31)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            left 29rem
         +above('xl')
            width (77rem / 1.33)
            left 33rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -3.1rem
      width (50rem / 1.4)
      +above('s')
         width (66rem / 1.4)
         left 2rem
         margin 0
         margin-top 1.5rem
      +above('xl')
         margin 0
         width (81rem / 1.25)
         left 0rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -6rem
         width (50rem / 1.4)
         +above('s')
            width (60rem / 1.25)
            left 36.5rem
            margin 0
            margin-top 1rem
         +above('m')
            width (66rem / 1.4)
            left 29rem
            margin-top 1rem
         +above('xl')
            margin 0
            width (77rem / 1.3)
            left 32rem
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      +above('s')
         width (66rem / 1.4)
         left 2rem
         margin 0
         margin-top 1rem
      +above('xl')
         width (81rem / 1.25)
         left 0rem
         margin 0
   .text-tutorials__item:nth-child(6) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -5rem
         width (50rem / 1.4)
         +above('s')
            width (66rem / 1.3)
            left 36rem
            margin 0
         +above('m')
            width (66rem / 1.35)
            left 29rem
            margin-top 1rem
         +above('xl')
            margin 0
            width (77rem / 1.25)
            left 33rem
   .text-tutorials__item:nth-child(7) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.25)
         left 0rem
         
   .text-tutorials__item:nth-child(8) 
   
      .text-tutorial__photo
         margin-left -5rem
         width (50rem / 1.4)
         +above('s')
            width (66rem / 1.3)
            left 35rem
            margin 0
         +above('m')
            width (66rem / 1.3)
            left 27rem
         +above('xl')
            width (77rem / 1.18)
            left 28rem
   
   .text-tutorials__item:nth-child(9) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      top 1rem
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.25)
         left 0

   .text-tutorials__item:nth-child(10) 
      .text-tutorial__photo
         margin-left -17.5rem
         width (68rem / 1.4)
         top 3rem
         +above('s')
            margin 0
            width (87rem / 1.25)
            left 17rem
         +above('m')
            width (87rem / 1.25)
            left 8rem
         +above('xl')
            width (87rem / 1)
            left 7rem
            
   .text-tutorials__item:nth-child(11) .text-tutorial__photo
      margin-right -3rem
      width (49rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.22)
         left 0
   .text-tutorials__item:nth-child(12) 
      .text-tutorial
         //align-items flex-start
         //padding-left 5rem
         //text-align right
         +above('xl')
            height 42rem
      .text-tutorial__photo
         margin-left -17rem
         width (67rem / 1.4)
         +above('s')
            margin 0
            width (81rem / 1.15)
            right -1rem
         +above('xl')
            width (81rem / 1)
            right -1rem
   .text-tutorials__item:nth-child(13) .text-tutorial__photo
      margin-right -3.5rem
      width (51rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.22)
         left 0
   .text-tutorials__item:nth-child(14) .text-tutorial__photo
      margin-left -5.5rem
      width (51rem / 1.4)
      +above('s')
         width (66rem / 1.3)
         right 1rem
         margin 0
      +above('xl')
         width (81rem / 1.22)
         right -1rem
   .text-tutorials__item:nth-child(15) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      top 4rem
      +above('s')
         width (66rem / 1.4)
         left 0
         margin 0
         margin-top 1rem
      +above('xl')
         margin-top 0
         width (81rem / 1.3)
         left 0
   .text-tutorials__item:nth-child(16) .text-tutorial__photo
      margin-left -5rem
      width (50rem / 1.4)
      top 3.5rem
      +above('s')
         width (66rem / 1.3)
         right 0
         margin 0
      +above('xl')
         width (81rem / 1.26)
         right -1rem
   .text-tutorials__item:nth-child(17) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      top 1.5rem
      +above('s')
         width (66rem / 1.3)
         left 0
         margin 0
      +above('xl')
         width (81rem / 1.24)
         left 0
   .text-tutorials__item:nth-child(18) .text-tutorial__photo
      margin-left -5rem
      width (50rem / 1.4)
      top 3rem
      +above('s')
         width (66rem / 1.3)
         right 0
         margin 0
      +above('xl')
         width (81rem / 1.24)
         right -1rem
   .text-tutorials__item:nth-child(19) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      top 3.5rem
      +above('s')
         width (66rem / 1.3)
         left 0
         margin 0
      +above('xl')
         width (81rem / 1.24)
         left 0
         




///////////////////////////////////////////////////////////////////////


.android-tablet-text-tutorials
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 44rem
         
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         top 2rem
         +above('s')
            margin-bottom 0
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -8rem
      width (47rem / 1.4)
      +above('s')
         width (47rem / 1.45)
         left 13rem
         margin 0
      +above('m')
         //width (46rem / 1.4)
      +above('xl')
         width (56rem / 1.4)
         left 20rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial
         +above('xl')
            height 41rem
      .text-tutorial__photo
         margin-left -13rem
         width (44rem / 1.1)
         +above('s')
            width (50rem / 1.3)
            left 28rem
            margin 0
         +above('xl')
            width (59rem / 1.33)
            left 28rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -11.5rem
      width (50rem / 1.36)
      +above('s')
         width (48rem / 1.4)
         left 13rem
         margin 0
      +above('xl')
         margin 0
         width (52rem / 1.25)
         left 20rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -13.5rem
         width (60rem / 1.4)
         +above('s')
            width (47rem / 1.25)
            left 30rem
            margin 0
         +above('xl')
            margin 0
            width (56rem / 1.3)
            left 32rem
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -12rem
      width (54rem / 1.4)
      +above('s')
         width (46rem / 1.4)
         left 14rem
         margin 0
      +above('xl')
         width (51rem / 1.25)
         left 21rem
         margin 0
   .text-tutorials__item:nth-child(6) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -6rem
         width (50rem / 1.4)
         +above('s')
            width (38rem / 1.3)
            left 39rem
            margin 0
         +above('xl')
            margin 0
            width (42rem / 1.25)
            left 40rem
            

///////////////////////////////////////////////////////////


.phone-android-text-tutorials
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      width 36rem
      margin-right -12rem
      +above('s')
         margin 0
         width 49rem
      +above('m')
         //
      +above('xl')
         //
   .text-tutorials__item:nth-child(2) .text-tutorial__photo
      width 41rem
      margin-left -16rem
      +above('s')
         margin 0
         width 56rem
         left 18rem
      +above('m')
         //
      +above('xl')
         //
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      width 38rem
      margin-right -15rem
      +above('s')
         margin 0
         width auto
      +above('m')
         //
      +above('xl')
         //
   .text-tutorials__item:nth-child(4) .text-tutorial__photo
      width 40rem
      margin-left -15rem
      +above('s')
         margin 0
         width auto
      +above('m')
         //
      +above('xl')
         //
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      width 40rem
      margin-right -18rem
      +above('s')
         margin 0
         //
         width 54rem
      +above('m')
         //
      +above('xl')
         //
   .text-tutorials__item:nth-child(6) .text-tutorial__photo
      width 38rem
      margin-left -12rem
      +above('s')
         margin 0
         width auto
         //
      +above('m')
         //
      +above('xl')
         //
        


.phone-android-text-tutorials-without-google
   .text-tutorial
      height 38rem
      +below('xs')
         justify-content flex-start
         height auto
         min-height 0
      +above('l')
         height 46rem
      overflow hidden
      &__photo-bg
         z-index 1
         background-size cover
         background-position center
         height 20rem
         width calc(100% + 6rem)
         margin -3rem -3rem 2rem
         +above('s')
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            height auto
            width auto
            margin 0
      &__text
         position relative
         z-index 2
   .text-tutorials__item:nth-child(1)
     //
   .text-tutorials__item:nth-child(2)
      .text-tutorial__text
         min-width 13rem
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            //height 24rem
   .text-tutorials__item:nth-child(4)
      .text-tutorial__text
         min-width 13rem
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            //height 24rem
   .text-tutorials__item:nth-child(5)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(6)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem
   .text-tutorials__item:nth-child(7)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(8)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem    


.android-tablet-text-tutorials-without-google
   .text-tutorial
      height 38rem
      +below('xs')
         justify-content flex-start
         height auto
         min-height 0
      +above('l')
         height 46rem
      overflow hidden
      &__photo-bg
         z-index 1
         background-size cover
         background-position center
         height 20rem
         width calc(100% + 6rem)
         margin -3rem -3rem 2rem
         +above('s')
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            height auto
            width auto
            margin 0
      &__text
         position relative
         z-index 2
   .text-tutorials__item:nth-child(1)
     //
   .text-tutorials__item:nth-child(2)
      .text-tutorial__text
         min-width 13rem
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            //height 24rem
   .text-tutorials__item:nth-child(4)
      .text-tutorial__text
         min-width 13rem
         margin-bottom -2.5rem
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            //height 24rem
   .text-tutorials__item:nth-child(5)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(6)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem
   .text-tutorials__item:nth-child(7)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(8)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem   


///////////////////////////////////////////////////////////

.ipad-text-tutorials
   .text-tutorial
      height 38rem
      +below('xs')
         justify-content flex-start
         height auto
         min-height 0
      +above('l')
         height 46rem
      overflow hidden
      &__photo-bg
         z-index 1
         background-size cover
         background-position center
         height 20rem
         width calc(100% + 6rem)
         margin -3rem -3rem 2rem
         +above('s')
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            height auto
            width auto
            margin 0
      &__text
         position relative
         z-index 2
   .text-tutorials__item:nth-child(1)
     //
   .text-tutorials__item:nth-child(2)
      .text-tutorial__text
         min-width 13rem
   .text-tutorials__item:nth-child(5)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(6)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem
   .text-tutorials__item:nth-child(7)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(8)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem







///////////////////////////////////////////////////////


.iphone-text-tutorials
   .text-tutorial
      height 38rem
      +below('xs')
         justify-content flex-start
         height auto
         min-height 0
      +above('l')
         height 46rem
      overflow hidden
      &__photo-bg
         z-index 1
         background-size cover
         background-position center
         height 20rem
         width calc(100% + 6rem)
         margin -3rem -3rem 2rem
         +above('s')
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            height auto
            width auto
            margin 0
      &__text
         position relative
         z-index 2
   .text-tutorials__item:nth-child(1)
     //
   .text-tutorials__item:nth-child(2)
      .text-tutorial__text
         min-width 13rem
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            //height 24rem
   .text-tutorials__item:nth-child(4)
      .text-tutorial__text
         min-width 13rem
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            //height 24rem
   .text-tutorials__item:nth-child(5)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(6)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem
   .text-tutorials__item:nth-child(7)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center left 0rem
            height 24rem
   .text-tutorials__item:nth-child(8)
      +below('xs')
         .text-tutorial__photo-bg
            background-position center right 0rem
            height 24rem


// .ipad-text-tutorials
//    .text-tutorial
//       +below('xs')
//          min-height 35.5rem
//       +above('s')
//          height 36rem
//          height 44rem
//          position relative
//       &__text
//          +below('xs')
//             max-width none
//       &__photo
//          margin-bottom 0rem
//          top 2rem
//          position absolute
//          top 0
//          left 0
//          right 0
//          bottom 0
//          +above('s')
//             margin-bottom 0
//             top 0
//             left 0
//             right 0
//             bottom 0
//    .text-tutorials__item:nth-child(1) .text-tutorial__photo
//       margin-right -2rem
//       width (46.4rem / 1.3)
//       +above('s')
//          margin 0
//          width (49rem / 1.2)
//          left 10rem
//    .text-tutorials__item:nth-child(2) 
//       .text-tutorial
//          +above('s')
//             height 44rem
//       .text-tutorial__photo
//          margin-left 3.5rem
//          width (33.9rem / 1.3)
//          +above('s')
//             margin 0
//             width (36rem / 1.2)
//             left 47rem
//    .text-tutorials__item:nth-child(3) .text-tutorial__photo
//       margin-right -2rem
//       width (47.7rem / 1.3)
//       +above('s')
//          margin 0
//          width (48rem / 1.1)
//          left 7rem
//    .text-tutorials__item:nth-child(4) 
//       .text-tutorial
//          +above('s')
//             height 44rem
//             &__text
//                min-width 25rem
//       .text-tutorial__photo
//          margin-left 3rem
//          width (34.5rem / 1.3)
//          +above('s')
//             margin 0
//             width (34.5rem / 1.15)
//             left 47rem
//    .text-tutorials__item:nth-child(5) .text-tutorial__photo
//       margin-right -2rem
//       width (46.4rem / 1.3)
//       +above('s')
//          width (46.4rem / 1.2)
//          left 1rem
//          margin 0
//       +above('l')
//          left 12rem
//    .text-tutorials__item:nth-child(6) 
//       .text-tutorial
//          +above('s')
//             height 44rem
//             &__text
//                min-width 25rem
//       .text-tutorial__photo
//          margin-left 2.5rem
//          width (35.3rem / 1.3)
//          +above('s')
//             margin 0
//             width (35.3rem / 1.2)
//             left 47rem
//    .text-tutorials__item:nth-child(7) .text-tutorial__photo
//       margin-right -2rem
//       width (47rem / 1.4)
//       +above('s')
//          width (66rem / 1.3)
//          left 2rem
//          margin 0
//          width (43rem / 1.1)
//          left 11rem
         
//    .text-tutorials__item:nth-child(8) 
//       .text-tutorial
//          +above('s')
//             height 48rem
//       .text-tutorial__photo
//          margin-left -2rem
//          width (41.3rem / 1.3)
//          +above('s')
//             margin 0
//             width (43rem / 1.1)
//             left 39rem
   
//    .text-tutorials__item:nth-child(9) .text-tutorial__photo
//       margin-right -2rem
//       width (41.7rem / 1.3)
//       +above('s')
//          margin 0
//          width (41.7rem / 1.2)
//          left 14rem

//    .text-tutorials__item:nth-child(10) .text-tutorial
//       justify-content center
//    .text-tutorials__item:nth-child(10) .text-tutorial__desc
//       font-size 4rem
//    .text-tutorials__item:nth-child(10) .text-tutorial__photo
//       margin-left 7rem
//       width (29.5rem / 1.4)
//       margin-bottom 2rem
//       +above('s')
//          margin-bottom 0
//          margin 0
//          width (33rem / 1.1)
//          left 44rem
   


///////////////////////////////////////////

.roku-tv-text-tutorials
   .text-tutorial__text
      +above('s')
         text-align left
   .text-tutorials__item:nth-child(odd) .text-tutorial__text
      +above('s')
         text-align right 
   .text-tutorial__text-inner
      +above('s')
         text-align right
      display inline-block
      
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 48rem
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         +above('s')
            margin-bottom 0
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -2rem
      width 33rem
      +above('s')
         width 45rem
         left 2rem
         margin 0
      +above('xl')
         width 66rem
         left 2rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial__photo
         margin-left -16rem
         width 45rem
         +above('s')
            width 70rem
            left 12rem
            margin 0
         +above('m')
            width 70rem
            left 5rem
         +above('xl')
            top 5rem
            width 93rem
            left 3rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -10rem
      width 42rem
      +above('s')
         width 65rem
         left 2rem
         margin 0
      +above('xl')
         top 4rem
         width 87rem
         left 2rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial__photo
         margin-left -4rem
         width 34rem
         +above('s')
            width 52rem
            left 32rem
            margin 0
         +above('m')
            top 4rem
            width 51rem
            left 24rem
         +above('xl')
            top 5rem
            width 70rem
            left 27rem
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -1rem
      width 31rem
      +above('s')
         top 4rem
         width 45rem
         left 3rem
         margin 0
      +above('xl')
         top 4.5rem
         width 63rem
         left 4rem
   .text-tutorials__item:nth-child(6) 
      .text-tutorial__photo
         margin-left -14rem
         width 42rem
         +above('s')
            width 65rem
            left 17rem
            margin 0
         +above('m')
            top 3rem
            width 65rem
            left 9rem
         +above('xl')
            top 5rem
            width 85rem
            left 10rem
   .text-tutorials__item:nth-child(7) .text-tutorial__photo
      margin-right -1rem
      width (47rem / 1.5)
      +above('s')
         top 4rem
         width 44rem
         left 3rem
         margin 0
      +above('xl')
         top 5rem
         width 62rem
         left 4rem
         
   .text-tutorials__item:nth-child(8) 
      .text-tutorial__photo
         margin-left -3rem
         width (44rem / 1.4)
         +above('s')
            width (60rem / 1.3)
            left 38rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            left 27rem
         +above('xl')
            top 4rem
            width (77rem / 1.2)
            left 31rem
            
   
   .text-tutorials__item:nth-child(9) .text-tutorial__photo
      margin-right -6rem
      width 36rem
      +above('s')
         width (47rem / 1.4)
      +above('s')
         top 3rem
         width 55rem
         left 3rem
         margin 0
      +above('xl')
         top 4rem
         width 75rem
         left 4rem

   .text-tutorials__item:nth-child(10) .text-tutorial
      +above('s')
         height 36rem
      +above('xl')
         height 45rem
   .text-tutorials__item:nth-child(10) 
      .text-tutorial__photo
         margin-left -3rem
         width 32rem
         top 1rem
         +above('s')
            width 48rem
            left 34rem
            margin 0
            top 3rem
         +above('m')
            width 47rem
            left 27rem
         +above('xl')
            top 4rem
            width 60rem
            left 35rem
   .text-tutorials__item:nth-child(11) .text-tutorial
      +above('s')
         height 36rem
      +above('xl')
         height 45rem
   .text-tutorials__item:nth-child(11) .text-tutorial__photo
      margin-right -9rem
      width 40rem
      +above('s')
         width 60rem
         left 3rem
         margin 0
      +above('xl')
         top 4rem
         width 75rem
         left 4rem
            



///////////////////////////////////////////////////////

.kodi-text-tutorials
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 44rem
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         +above('s')
            margin-bottom 0
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -13.5rem
      width 45rem
      +above('s')
         width 65rem
         left 2rem
         margin 0
      +above('xl')
         width 79rem
         left 2rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial
         +above('xl')
            height 41rem
      .text-tutorial__photo
         margin-left -4rem
         width (44rem / 1.31)
         +above('s')
            width (60rem / 1.3)
            right 2rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            right 2rem
         +above('xl')
            width 55rem
            right 2rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -2.8rem
      width 35rem
      +above('s')
         width (66rem / 1.4)
         left 2rem
         margin 0
         margin-top 1.5rem
      +above('xl')
         margin 0
         width 59rem
         left 2rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -4rem
         width 34rem
         +above('s')
            width (60rem / 1.25)
            left 36.5rem
            margin 0
            margin-top 1rem
         +above('m')
            width (66rem / 1.4)
            left 29rem
            margin-top 1rem
         +above('xl')
            margin 0
            width 54rem
            left 43rem
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -3rem
      width 35rem
      +above('s')
         width 45rem
         left 2rem
         margin 0
         margin-top 1rem
      +above('xl')
         width 60rem
         left 2rem
         margin 0
   .text-tutorials__item:nth-child(6) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -13rem
         width 43rem
         +above('s')
            width 62rem
            right 2rem
            margin 0
         +above('xl')
            margin 0
            width 70rem
            
   .text-tutorials__item:nth-child(7) .text-tutorial__photo
      margin-right -3rem
      width 35rem
      +above('s')
         width 48rem
         left 2rem
         margin 0
      +above('xl')
         width 60rem
         left 2rem
         
   .text-tutorials__item:nth-child(8) 
      .text-tutorial__photo
         margin-left -5rem
         width (50rem / 1.4)
         +above('s')
            width 46rem
            right 2rem
            margin 0
         +above('xl')
            width 60rem
            right 2rem
   
   .text-tutorials__item:nth-child(9) .text-tutorial__photo
      margin-right -8rem
      width 40rem
      top 3rem
      +above('s')
         width 55rem
         left 2rem
         margin 0
      +above('xl')
         width 70rem
         left 2rem

   .text-tutorials__item:nth-child(10) 
      .text-tutorial__photo
         margin-left -19rem
         width (68rem / 1.4)
         top 3rem
         +above('s')
            margin 0
            width (87rem / 1.25)
            right 2rem
         +above('xl')
            width (87rem / 1)
            right 2rem
            
   .text-tutorials__item:nth-child(11) .text-tutorial__photo
      margin-right -5rem
      width 36rem
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width (81rem / 1.22)
         left 1.5rem
   .text-tutorials__item:nth-child(12) 
      .text-tutorial
         //align-items flex-start
         //padding-left 5rem
         //text-align right
         +above('xl')
            height 42rem
      .text-tutorial__photo
         margin-left -7rem
         width 37rem
         +above('s')
            margin 0
            width (50rem / 1)
            right 2rem
         +above('xl')
            width (63rem / 1)
            right 2rem
   .text-tutorials__item:nth-child(13) .text-tutorial__photo
      margin-right -3.5rem
      width 35rem
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         width 65rem
         left 2rem
   .text-tutorials__item:nth-child(14) .text-tutorial__photo
      margin-left -9rem
      width 39rem
      +above('s')
         width (66rem / 1.2)
         right 2rem
         margin 0
      +above('xl')
         width (81rem / 1.22)
         right 2rem
   .text-tutorials__item:nth-child(15) .text-tutorial__photo
      margin-right -3.5rem
      width (50rem / 1.45)
      top 4rem
      +above('s')
         top 2rem
         width (66rem / 1.4)
         left 2rem
         margin 0
         margin-top 1rem
      +above('xl')
         top 4rem
         margin-top 0
         width 58rem
         left 2rem
   .text-tutorials__item:nth-child(16) .text-tutorial__photo
      margin-left -17rem
      width 47rem
      top 3.5rem
      +above('s')
         width 65rem
         right 2rem
         margin 0
      +above('xl')
         width 80rem
         right 2rem
   .text-tutorials__item:nth-child(17) .text-tutorial__photo
      margin-right -3rem
      width (50rem / 1.4)
      top 1.5rem
      +above('s')
         top 3rem
         width 48rem
         left 2rem
         margin 0
      +above('xl')
         top 3rem
         width 60rem
         left 2rem
   .text-tutorials__item:nth-child(18) .text-tutorial__photo
      margin-left -15rem
      width 45rem
      top 3rem
      +above('s')
         width 60rem
         right 2rem
         margin 0
      +above('xl')
         width 78rem
         right 2rem
   .text-tutorials__item:nth-child(19) .text-tutorial__photo
      margin-right -2.8rem
      width (49rem / 1.4)
      top 3.5rem
      +above('s')
         width 45rem
         left 2rem
         margin 0
      +above('xl')
         width 60rem
         left 2rem
   .text-tutorials__item:nth-child(20) .text-tutorial__photo
      margin-left -13rem
      width 43rem
      top 3rem
      +above('s')
         width 57rem
         right 2rem
         margin 0
      +above('xl')
         width 78rem
         right 2rem
   .text-tutorials__item:nth-child(21) .text-tutorial__photo
      margin-right -14rem
      width 45rem
      top 3.5rem
      +above('s')
         width 58rem
         left 2rem
         margin 0
      +above('xl')
         top 2rem
         width 78rem
         left 2rem
   .text-tutorials__item:nth-child(22) .text-tutorial__photo
      margin-left -8rem
      width 38rem
      top 3rem
      +above('s')
         width 55rem
         right 2rem
         margin 0
      +above('xl')
         width 68rem
         right 2rem
   .text-tutorials__item:nth-child(23) .text-tutorial__photo
      margin-right -5.5rem
      width 37rem
      top 3.5rem
      +above('s')
         width (66rem / 1.3)
         left 2rem
         margin 0
      +above('xl')
         top 3rem
         width 66rem
         left 2rem
   .text-tutorials__item:nth-child(24) .text-tutorial__photo
      margin-left -5.5rem
      width (50rem / 1.4)
      top 3rem
      +above('s')
         width 49rem
         right 2rem
         margin 0
      +above('xl')
         width 62rem
         right 2rem
         



////////////////////////////////////////////////////////////////////////



.esaba-text-tutorials
   .text-tutorial
      +below('xs')
         min-height 35.5rem
      +above('s')
         height 36rem
      +above('xl')
         height 44rem
      &__desc
         font-weight 600
         color #4d5f67
         small
            line-height 1.5
            display block
            margin-top .7em
            font-weight 400
      &__photo
         margin-bottom 1rem
         top 4.5rem
         +above('s')
            margin-bottom 0
   .text-tutorials__item:nth-child(1) .text-tutorial__photo
      margin-right -2rem
      width 33rem
      +below('xs')
         transform translateY(-1rem)
      +above('s')
         width 50rem
         left 3rem
         margin 0
      +above('xl')
         width 62rem
         left 2rem
   .text-tutorials__item:nth-child(2) 
      .text-tutorial
         +above('xl')
            height 41rem
      .text-tutorial__photo
         margin-left -3rem
         width 32rem
         
         +above('s')
            width (60rem / 1.3)
            right 2rem
            margin 0
         +above('m')
            width (66rem / 1.4)
            right 1rem
         +above('xl')
            width 57rem
            right 1rem
   .text-tutorials__item:nth-child(3) .text-tutorial__photo
      margin-right -2rem
      width 33rem
      +below('xs')
         transform translateY(-1rem)
      +above('s')
         width 50rem
         left 2rem
         margin 0
         top 0
         margin-top 1.5rem
      +above('xl')
         margin 0
         top 0
         width 65rem
         left 2rem
   .text-tutorials__item:nth-child(4) 
      .text-tutorial
         +above('xl')
            height 41rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -7rem
         width 37rem
         +below('xs')
            transform translateY(-2rem)
         +above('s')
            width (60rem / 1.25)
            right 0
            margin 0
            margin-top 1rem
         +above('m')
            width 53rem
            right 1rem
            top 0
            margin-top 1rem
         +above('xl')
            margin 0
            top -1rem
            width 68rem
            right 0
   .text-tutorials__item:nth-child(5) .text-tutorial__photo
      margin-right -2.5rem
      width 33rem
      +below('xs')
         //transform translateY(-.5rem)
      +above('s')
         width 47rem
         left 2rem
         margin 0
         top 2.5rem
         margin-top 1rem
      +above('xl')
         width 62rem
         left 2rem
         margin 0
   .text-tutorials__item:nth-child(6) 
      .text-tutorial
         +above('s')
            height 35rem
         +above('xl')
            height 43rem
            &__text
               min-width 25rem
      .text-tutorial__photo
         margin-left -13rem
         width 43rem
         +below('xs')
            transform translateY(-1rem)
         +above('s')
            top 3rem
            width 64rem
            right 1rem
            margin 0
         +above('xl')
            top 3rem
            margin 0
            right 0
            margin-top 1rem
            width 80rem
            
   .text-tutorials__item:nth-child(7) .text-tutorial__photo
      margin-right -2rem
      width 33rem
      +above('s')
         width 48rem
         left 2rem
         margin 0
      +above('xl')
         width 61rem
         left 2rem
         
   .text-tutorials__item:nth-child(8) 
      .text-tutorial__photo
         margin-left -3rem
         width 33rem
         +above('s')
            width 50rem
            right 1rem
            margin 0
         +above('xl')
            width 62rem
            right 0rem
   
   .text-tutorials__item:nth-child(9) .text-tutorial__photo
      margin-right -2rem
      width 33rem
      top 3rem
      +above('s')
         width 45rem
         left 2rem
         margin 0
      +above('xl')
         width 65rem
         left 2rem

   .text-tutorials__item:nth-child(10) 
      .text-tutorial__photo
         margin-left -9rem
         width 39rem
         top 3rem
         +above('s')
            top 4rem
            margin 0
            width 55rem
            right 1rem
         +above('xl')
            top 4rem
            width 73rem
            right 0rem
            
   .text-tutorials__item:nth-child(11) .text-tutorial__photo
      margin-right -6rem
      width 37rem
      +above('s')
         width 53rem
         left 2rem
         margin 0
      +above('xl')
         width 68rem
         left 3rem
   .text-tutorials__item:nth-child(12) 
      .text-tutorial
         //align-items flex-start
         //padding-left 5rem
         //text-align right
         +above('xl')
            height 42rem
      .text-tutorial__photo
         margin-left -3rem
         width 33rem
         +above('s')
            margin 0
            width 48rem
            right 1rem
         +above('xl')
            top 4rem
            width 60rem
            right 0rem
   .text-tutorials__item:nth-child(13) .text-tutorial__photo
      margin-right -14rem
      width 45rem
      +above('s')
         width 65rem
         left 2rem
         margin 0
      +above('xl')
         top 4rem
         width 85rem
         left 2.5rem
   .text-tutorials__item:nth-child(14) .text-tutorial__photo
      margin-left -3rem
      width 33rem
      +above('s')
         width 50rem
         right 0rem
         margin 0
      +above('xl')
         width 62rem
         right 0rem
   .text-tutorials__item:nth-child(15) .text-tutorial__photo
      margin-right -2rem
      width 33rem
      top 4rem
      +above('s')
         top 2rem
         width 51rem
         left 2rem
         margin 0
         margin-top 1rem
      +above('xl')
         top 4rem
         margin-top 0
         width 63rem
         left 3rem
   .text-tutorials__item:nth-child(16) .text-tutorial__photo
      margin-left -2rem
      width 31rem
      top 3.5rem
      +above('s')
         width 45rem
         right 2rem
         margin 0
      +above('xl')
         width 60rem
         right 2rem
   .text-tutorials__item:nth-child(17) .text-tutorial__photo
      margin-right -3rem
      width 32.5rem
      top 1.5rem
      +above('s')
         top 3rem
         width 52rem
         left 2rem
         margin 0
      +above('xl')
         top 4rem
         width 65rem
         left 4rem
   .text-tutorials__item:nth-child(18) .text-tutorial__photo
      margin-left -2rem
      width 31rem
      top 3rem
      +above('s')
         width 48rem
         right 2rem
         margin 0
      +above('xl')
         top 3.5rem
         width 60rem
         right 2rem
   .text-tutorials__item:nth-child(19) .text-tutorial__photo
      margin-right -12rem
      width 41rem
      top 3.5rem
      +above('s')
         width 65rem
         left 3rem
         margin 0
      +above('xl')
         width 85rem
         left 4rem
   

