// $black = #0b0b0b
// $white = #fff
// $blue = #22b0cf
// $light-blue = #279ef1
// $dark-blue = #009a90

// $gold = #c4b128
// $diamond = #8dd6e6
// $silver = #a9bfc5

// $gray = #ebebeb
// $light-gray = #cdcdcd

// $green = #1aa44a
// $dark-green = #1d743b

// $red = #ac2328;
// $yellow = #ffd824

// $beige =  #ebd5ad

// $orange = #f6931e

// $primary = $red
// $primary-lighten = lighten($red, 10%) //

// $primary-gradient = $primary linear-gradient(0deg, #bea739, #e2d983);


// .color-primary
//    color $primary !important
// .color-primary-lighten
//    color $primary-lighten !important
// .color-white
//    color $white !important


$white = #fff
$black = #4d5f67; //#1f2731 //#232323
$red = #ec5900
$green = #a3c339
$yellow = #FF9713
$blue = #438bcb
$lightBlue = #00aaee
$orange = #f0ad4e

$light-gray = #1c1c1f
$gray = #9e9e9e
$dark-gray = #8b9fa8

$primary = $blue
$primary-lighten = $blue

$color-secondary = $dark-gray

$color-win = $green
$color-lost = $red

$purple = #672d91




.color-win 
   color $color-win
.color-lost
   color $color-lost
   
.color-purple
   color $purple !important 
.color-blue
   color $blue
.color-light-blue
   color $lightBlue
.color-white
   color $white !important
.color-red
   color $red !important
.color-green
   color $green !important
.color-yellow
   color $yellow !important
.color-gray
   color $gray !important
.color-orange
   color #ff9000

.wsnw
   white-space nowrap
.d-f
   display flex
.f-d-r-r
   flex-direction row-reverse
.j-c-f-e
   justify-content flex-end
.m-l-0-3-em
   margin-left .3em

.color-secondary
   color $color-secondary 


.bg-dark-black
   background-color #091829 !important
.bg-black
   background-color #0c1e33 !important
.bg-light-black
   background-color #0a2340 !important
.bg-yellow
   background-color #fffdf5 !important
   
.bg-gold
   background-color #FFA324 !important

.color-yellow
   color #d89560 !important
   