@font-face {
    font-family: 'Myriad Hebrew';
    src: url('../fonts/MyriadHebrew-Regular.eot');
    src: url('../fonts/MyriadHebrew-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadHebrew-Regular.woff2') format('woff2'),
        url('../fonts/MyriadHebrew-Regular.woff') format('woff'),
        url('../fonts/MyriadHebrew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('Myriad Pro'), local('MyriadPro-Regular'),
        url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$font-primary = 'Open Sans', sans-serif;
$font-secondary = 'Myriad Hebrew', 'Open Sans', sans-serif;
$font-therd = 'Myriad Pro', 'Open Sans', sans-serif;
